.playlist-page {
  padding: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.playlist-card {
  background: #181818;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
}

.playlist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  padding: 12px 15px;
  cursor: pointer;
}

.playlist-header:hover {
  background: #2b2b2b;
}

.playlist-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.playlist-header h3 {
  flex: 1;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
}

.expand-icon {
  font-size: 20px;
  color: #ccc;
}

.song-list {
  background: #111;
  padding: 15px;
}

.song-item {
  display: flex;
  align-items: center;
  background: #1c1c1c;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  gap: 12px;
}

.song-item:hover {
  background: #252525;
}

.song-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.song-info {
  flex: 1;
}

.song-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.song-audio {
  width: 100%;
  outline: none;
}
