.admin-dashboard {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  color: #444;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #222;
}

.charts-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.chart-box {
  flex: 1;
  min-width: 300px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
