.admin-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  background: #f8f8f8;
}
